{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "printWidth": 80,

    "overrides": [
        {
            "files": "src/data/*.ts",
            "options": {
                "printWidth": 120
            }
        }
    ]
}
